@import '../../assets/styles/mixins.scss';

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 44px;
  background-color: royalblue;
  border-radius: 8px 8px 0 0;

  &_wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &_header {
    display: flex;
  }

  &_page_title {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    width: 100px;
    height: 32px;
    border-radius: 12px;
    margin: 5px;
    background-color: aqua;

    @include noSelect();
  }
}

.menu_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 12px;
  background-color: aqua;
  margin: 5px;
  
  &_home {
    z-index: 1000;
  }

  &_profile {
    
  }

  &_chat {
    
  }

  &_tools {
    
  }
}
