.map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  height: 100vh;

  svg {
    max-width: 100%;
    max-height: calc(100% - 30px);
  }
}

.region {

  path {
    transition: fill 0.3s;
  }

  &Disabled {
    pointer-events: none;

    path {
      fill: #606060;
    }
  }
}