@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Fira Sans', sans-serif;
  background-color: #f1f1f1;
  box-sizing: border-box;
}
